<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Match #<%= @match.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/matches" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @match.creator %>
          <a href="/matches/<%= @match.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit match
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @match.creator %>
          <a href="/delete_match/<%= @match.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete match
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Seller
      </dt>
      <dd>
        <% if @match.creator.present? %>
          <a href="/users/<%= @match.seller %>">
            <%= @match.creator.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Buyer
      </dt>
      <dd>
        <%= @match.buyer %>
      </dd>

      <dt>
        Dining hall
      </dt>
      <dd>
        <%= @match.dining_hall %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @match.price %>
      </dd>

      <dt>
        Meeting time
      </dt>
      <dd>
        <%= @match.meeting_time %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@match.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@match.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

